<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jesseoberstein.alert">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <activity
            android:name=".activities.routes.ViewRoutes"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activities.RoutesSearchActivity" />
        </activity>

        <activity
            android:name=".activities.routes.SearchRoutes"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateVisible"
            android:parentActivityName="com.jesseoberstein.alert.activities.routes.ViewRoutes">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jesseoberstein.alert.activities.routes.ViewRoutes"/>
        </activity>

        <activity
            android:name=".activities.alarms.ViewAlarms"
            android:launchMode="singleTop"
            android:parentActivityName="com.jesseoberstein.alert.activities.routes.ViewRoutes">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jesseoberstein.alert.activities.routes.ViewRoutes"/>
        </activity>

        <activity
            android:name=".activities.alarm.CreateAlarm"
            android:parentActivityName="com.jesseoberstein.alert.activities.alarms.ViewAlarms">

            <intent-filter>
                <action android:name="android.intent.action.INSERT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jesseoberstein.alert.activities.alarms.ViewAlarms"/>
        </activity>

        <activity
            android:name=".activities.alarm.EditAlarm"
            android:parentActivityName="com.jesseoberstein.alert.activities.alarms.ViewAlarms"
            android:windowSoftInputMode="adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.EDIT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jesseoberstein.alert.activities.alarms.ViewAlarms"/>
        </activity>

        <receiver android:name=".receivers.OnAlarmStart"  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.INSERT"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.OnAlarmStop"  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DELETE"/>
            </intent-filter>
        </receiver>

        <service android:name=".services.MbtaRealtimeUpdatesService"/>

    </application>

</manifest>